BASE_SEPOLIA_RPC_URL=https://sepolia.base.org
BASE_MAINNET_RPC_URL=https://mainnet.base.org
ETHERSCAN_API_KEY=
PRE_ADDRESS=
USDC_ADDRESS=
PRE_ADDRESS_TESTNET=
USDC_ADDRESS_TESTNET=
OWNER_ADDRESS=
OWNER_ADDRESS_TESTNET=
SAFE_ADDRESS=
SAFE_ADDRESS_TESTNET=
TREASURY_ADDRESS=
TREASURY_ADDRESS_TESTNET=
TREASURY_PAYOUT_ADDRESS=
TREASURY_PAYOUT_ADDRESS_TESTNET=
ESCROW_ADDRESS=
ESCROW_ADDRESS_TESTNET=
DEPLOYMENT_BLOCK=
DEPLOYMENT_BLOCK_TESTNET=
DEPLOYMENT_CHECK_STAGE=final
GOAL_MANAGER_ADDRESS=
GOAL_MANAGER_ADDRESS_TESTNET=
GOAL_MANAGER_ENABLED=
